.title {
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 120px;
    padding: 0 5px;
}

.misc {
    font-size: 0.75em;
    padding: 0 5px;

}