@import url("https://fonts.googleapis.com/css?family=Roboto");
@import "../node_modules/react-modal-video/scss/modal-video.scss";

/* Global Styles */

$primary-color: #1b1b1b;
$primary-dark: #171515;
$dark-color: #333333;
$light-color: #f4f4f4;
$danger-color: #dc3545;
$success-color: #3cc05b;
$blue-color: #3496bd;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: $primary-dark;
  background-repeat: no-repeat;
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Utilities */
.container {
  width: 95%;
  max-width: 1250px;
  margin: 0 auto;
  overflow: hidden;
  padding: 1rem 0;

  @media screen and (min-width: 768px) {
    width: 85%;
  }
}

.anime-description {
  font-family: "Roboto Mono";

  p {
    font-size: 16px;
  }
}

.non-link {
  cursor: default;
}

.box-shadow {
  box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
}

.background-wrapper {
  background-image: linear-gradient(180deg, rgba(23, 21, 21, 0.25) 0%, #171515 64.72%, #171515 82.85%),
    url("./images/Anime-Landscape-Backgrounds.jpg");
  height: 900px;
  background-repeat: no-repeat;
  background-position: center;
}

/* Text Styles*/
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.small {
  font-size: 0.7em;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary-color);
}

.text-blue {
  color: var(--blue-color);
}

.text-dark {
  color: var(--dark-color);
}

.text-success {
  color: var(--success-color);
}

.text-danger {
  color: var(--danger-color);
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.anime-title {
  text-shadow: 3px 3px 3px rgba(102, 101, 101, 0.534);
  font-weight: normal;
}

.anime-subtitle {
  color: #8c8c8c;
  transform: translateY(-5px);
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-col {
  flex-direction: column;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-end {
  justify-content: flex-end;
}

.align-items-center {
  align-items: center;
}

.align-self-end {
  align-self: flex-end;
}

.right {
  float: right;
}

.ml-auto {
  margin-left: auto;
}

.ml-1 {
  margin-left: 0.5rem;
}

.ml-2 {
  margin-left: 1rem;
}

.ml-3 {
  margin-left: 1.5rem;
}

.ml-4 {
  margin-left: 2rem;
}

.mt-2 {
  margin-top: 1rem;
}

.mb-2 {
  margin-bottom: 1rem;
}

.my-2 {
  margin: 1rem 0;
}


/* Center All */
.all-center {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Cards */
.card {
  border-radius: 15px;
  margin: 0.7rem 0;
  height: 260px;
  width: 150px;
  margin: 15px;
  overflow: hidden;
  background-color: white;

  &:hover {
    box-shadow: 5px 5px 15px rgba(255, 255, 255, 0.2);
  }

  &--img {
    height: 200px;
  }

  &--title {
    padding: 5px;
    height: 50px;
    color: black;
  }
}

.card-carousel {
  border-radius: 15px;
  margin: 0.7rem 0;
  height: 400px;
  width: 260px;
  margin: 15px;
  overflow: hidden;
  position: relative;
  box-shadow: 4px -3px 5px 0px #202020; 

  img {
    height: 100%;
  }

  .text-overlay {
    position: absolute;
    left: 3.7%;
    right: 3.7%;
    bottom: 2.67%;
    min-height: 120px;
    padding: 0.6rem 0.8rem;
    background: rgba(36, 36, 36, 0.8);
    border-radius: 25px;
    font-family: "Roboto Condensed";
    overflow: hidden;
  }

  h4 {
    font-style: normal;
    font-weight: bold;
    font-size: 1.2em;
    line-height: 26px;
    letter-spacing: 0.02em;
    position: relative;
  }

  &:hover {
    box-shadow: 4px -3px 5px 0px rgba(255, 255, 255, 0.6);
  }
}

.carousel-button-group {
  position: absolute;
  right: 20px;
  top: calc(38.4px / 2 - 13px);
  cursor: pointer;
}

.card-top {
  /* height: 460px; */
  max-width: 345px;
  background: #fff;
  border-radius: 15px;
  color: #000000;
  padding-bottom: 14px;
  margin-bottom: 1em;

  &--title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background: #f2c1d5;
    border-radius: 15px;
    padding: 14px 18px;
    font-size: 1.2em;

    i {
      opacity: 0.25;
    }
  }

  img {
    height: 100px;
    width: 73px;
    margin: 0 10px;
    object-fit: cover;
  }

  .list-item {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    padding: 0 18px;

    &--title {
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 16px;
      display: flex;
      flex: 1;
      align-items: center;
      color: #04216a;
    }
  }
}

.top-anime {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 100px;
}

.text-overflow {
  /* Required for text-overflow to do anything */
  white-space: wrap;
  overflow: hidden;
}

.sub-page--box {
  background: #fafafa;
  color: black;
  margin-top: 2rem;
  padding: 20px;
  border-radius: 10px;
}

/* List */
.list {
  margin: 0.5rem 0;
}

.list li {
  padding-bottom: 0.3rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.btn {
  display: inline-block;
  color: #000000;
  padding: 0.1rem 1.3rem;
  font-size: 13px;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.btn-link {
  background: none;
  padding: 0;
  margin: 0;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-sm {
  font-size: 0.8rem;
  padding: 0.3rem 1rem;
  margin-right: 0.2rem;
}

.btn-white {
  background: #fff;
}

.btn-white-rounded {
  background: #ffffff;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 15px;
}

.btn-white-outline-rounded {
  background: none;
  border: 2px solid #ffffff;
  color: white;
  box-sizing: border-box;
  border-radius: 15px;
}

.btn:hover {
  opacity: 0.8;
}

.btn-active {
  border-bottom: 2px solid black;
}

.bg-light,
.badge-light {
  border: #ccc solid 1px;
}

.bg-success {
  background: $success-color;
}

/* Forms */
#search-bar {
  border: 2px solid #ffffff;
  border-radius: 10px;
  margin: 10px 0;
  width: 200px;
  background-image: url("./images/iconfinder_search_172546.png");
  background-position: 10px 0px;
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 40px;

  @media screen and (min-width: 350px) {
    width: 300px;
  }
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
select,
textarea {
  background: white;
  display: block;
  padding: 0.2rem;
  font-size: 13px;
}

input[type="submit"],
button {
  font: inherit;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  opacity: 0.9;
}

.nav-banner {
  padding: 0.7rem 2rem;
  background: $primary-color;
  box-shadow: -1px 5px 4px rgba(0, 0, 0, 0.35);
  z-index: 100;
  position: relative;
}

.nav-menu {
  padding: 0.35rem 2rem;
  background: rgba(223, 217, 217, 0.25);
  backdrop-filter: blur(4px);
  position: relative;
  z-index: 99;

}

.navbar ul {
  display: flex;
}

.nav-menu li {
  color: #fff;
  padding: 0.45rem;
}

.dropdown-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
}

.nav-menu--dropdown {
  top: 55px;
  border-top: 2px solid white;
}

.mobile-menu--dropdown {
  text-align: center;
  width: 100%;
  top: 60px;
  left: -100%;
  transition: all 0.5s ease;

  &.active {
    background: $primary-color;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .dropdown-link {
    padding: 20px 0;
  }
}



.dropdown-link {
  display: block;
  padding: 0.5rem;
  background: $primary-color;
  width: 100%;

  &:hover,
  a:hover {
    background: #fff;
    color: $primary-color;
  }
}

.dropdown-separator {
  padding: 0.3rem 0.45rem;
  background: rgb(209, 209, 209);
  color: $primary-color;
}

.navbar .welcome span {
  margin-right: 0.6rem;
}

.score--wrapper {
  display: none;
}

.score {
  width: 90px;
  height: 90px;
  border-radius: 15px;
  position: relative;
}

.score-text {
  background: white;
  color: black;
  position: absolute;
  top: 15px;
  width: 100%;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: bold;
  text-align: center;
}

.score-number {
  position: absolute;
  bottom: 15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  color: black;
}

.score--video {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.anime-img {
  margin-right: 2rem;
}

/* CHARACTERS */
.character--img {
  height: 100%;
}

.wrapper {
  border-radius: 15px;
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 125px;
  max-width: 81px;
  margin: 0 29px;
}

.overlay {
  transition: 0.3s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: grey;
  opacity: 0;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 0.9rem;
  font-family: "Roboto";
  text-align: center;
}

.wrapper:hover .overlay {
  opacity: 0.9;
}

/* THUMBNAIL */

.thumbnail--wrapper {
  margin-top: 30px;
  border-radius: 15px;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Mobile Styles */
@media (min-width: 580px) {
  .score--wrapper {
    display: block;
  }
}

@media (min-width: 938px) {
  .score--video {
    width: auto;
    flex-flow: column;
    align-items: center;
    margin-left: auto;
  }

  .anime-description {
    flex: 1;
  }
}
